Repository Kingshot-Atlas/Kingshot-Atlas: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, vitest

eslint:
  name: ESLint
  entry: npm run lint --prefix apps/web --
  language: system
  pass_filenames: false

vitest:
  name: Vitest (changed test files)
  entry: bash -c 'cd apps/web && npx vitest run --passWithNoTests'
  language: system
  pass_filenames: false
  stages:
  - push

chore: fix 13 lint errors (empty catch blocks, prefer-as-const, display-name) + add evaluation report
  WEBSITE_EVALUATION_REPORT.md
  apps/web/src/components/battle-registry/BattleRegistryForm.tsx
  apps/web/src/components/recruiter/ApplicationCard.tsx
  apps/web/src/components/transfer/TransfereeAppCard.tsx
  apps/web/src/components/transfer/TransfereeDashboard.tsx
  apps/web/src/hooks/useBaseDesigner.ts
  apps/web/src/pages/AllianceBaseDesigner.tsx
  apps/web/src/pages/Messages.tsx
  apps/web/src/pages/__tests__/page-smoke.test.tsx
Due: eslint, vitest

perf: lazy-load AuthModal + NotificationBell, add Escape key to 4 modals
  apps/web/src/components/Header.tsx
  apps/web/src/components/ReportDataModal.tsx
  apps/web/src/components/ReportKvKErrorModal.tsx
  apps/web/src/components/transfer/ContributionSuccessModal.tsx
  apps/web/src/components/transfer/RateKingdomModal.tsx
Due: eslint

docs: add activity log entry for bundle/a11y/decomposition session
  agents/project-instances/kingshot-atlas/ACTIVITY_LOG.md
Due: none

a11y: role=dialog + aria-modal on 8 modals, Escape key on 2 more, decompose Messages + ReferralIntelligence
  agents/project-instances/kingshot-atlas/ACTIVITY_LOG.md
  apps/web/src/components/KvKMatchupSubmission.tsx
  apps/web/src/components/ReferralIntelligence.tsx
  apps/web/src/components/ReportDataModal.tsx
  apps/web/src/components/ReportKvKErrorModal.tsx
  apps/web/src/components/TransferApplications.tsx
  apps/web/src/components/base-designer/DesignModal.tsx
  apps/web/src/components/referral-intelligence/types.ts
  apps/web/src/components/transfer/ContributionSuccessModal.tsx
  apps/web/src/components/transfer/EndorsementOverlay.tsx
  apps/web/src/components/transfer/RateKingdomModal.tsx
  apps/web/src/pages/Messages.tsx
  apps/web/src/pages/messages/ChatBubble.tsx
  apps/web/src/pages/messages/ConversationListItem.tsx
  apps/web/src/pages/messages/types.ts
Due: eslint

docs: update activity log for a11y + decomposition session
  agents/project-instances/kingshot-atlas/ACTIVITY_LOG.md
Due: none

refactor: decompose 3 oversized components + SEO check + mobile UX fixes
  agents/project-instances/kingshot-atlas/ACTIVITY_LOG.md
  apps/web/public/sitemap-kingdoms.xml
  apps/web/src/components/BotDashboard.tsx
  apps/web/src/components/CompareTray.tsx
  apps/web/src/components/KingdomReviews.tsx
  apps/web/src/components/bot-dashboard/BotAnalyticsTab.tsx
  apps/web/src/components/bot-dashboard/BotMessageTab.tsx
  apps/web/src/components/bot-dashboard/types.ts
  apps/web/src/components/kingdom-reviews/ReviewCard.tsx
  apps/web/src/components/kingdom-reviews/ReviewForm.tsx
  apps/web/src/components/kingdom-reviews/types.ts
  apps/web/src/components/transfer/KingdomListings.tsx
  apps/web/src/components/transfer/RecruiterModeContent.tsx
  apps/web/src/pages/KingdomDirectory.tsx
  apps/web/src/pages/TransferBoard.tsx
Due: eslint

feat(battle-registry): multi time-slot support + collapsible dashboard sections
  apps/web/public/locales/ar/translation.json
  apps/web/public/locales/de/translation.json
  apps/web/public/locales/en/translation.json
  apps/web/public/locales/es/translation.json
  apps/web/public/locales/fr/translation.json
  apps/web/public/locales/id/translation.json
  apps/web/public/locales/ja/translation.json
  apps/web/public/locales/ko/translation.json
  apps/web/public/locales/pt/translation.json
  apps/web/public/locales/ru/translation.json
  apps/web/public/locales/tr/translation.json
  apps/web/public/locales/zh/translation.json
  apps/web/src/components/battle-registry/BattleRegistryDashboard.tsx
  apps/web/src/components/battle-registry/BattleRegistryForm.tsx
  apps/web/src/components/battle-registry/BattleRegistryMain.tsx
  apps/web/src/components/battle-registry/types.ts
  apps/web/src/components/battle-registry/useBattleRegistry.ts
  apps/web/src/locales/ar/translation.json
  apps/web/src/locales/de/translation.json
  apps/web/src/locales/en/translation.json
  apps/web/src/locales/es/translation.json
  apps/web/src/locales/fr/translation.json
  apps/web/src/locales/id/translation.json
  apps/web/src/locales/ja/translation.json
  apps/web/src/locales/ko/translation.json
  apps/web/src/locales/pt/translation.json
  apps/web/src/locales/tr/translation.json
  apps/web/src/locales/zh/translation.json
Due: eslint

feat(battle-registry): multi-slot manual entries, hourly time frames, merged troop distribution
  apps/web/src/components/battle-registry/BattleRegistryDashboard.tsx
  apps/web/src/components/battle-registry/useBattleRegistry.ts
Due: eslint

feat(battle-registry): table format for expanded sections, scroll-to-edit, row highlight
  apps/web/src/components/battle-registry/BattleRegistryDashboard.tsx
Due: eslint

feat(battle-registry): dashboard improvements - search, sort, validation, expand/collapse
  apps/web/public/locales/ar/translation.json
  apps/web/public/locales/de/translation.json
  apps/web/public/locales/en/translation.json
  apps/web/public/locales/es/translation.json
  apps/web/public/locales/fr/translation.json
  apps/web/public/locales/id/translation.json
  apps/web/public/locales/ja/translation.json
  apps/web/public/locales/ko/translation.json
  apps/web/public/locales/pt/translation.json
  apps/web/public/locales/ru/translation.json
  apps/web/public/locales/tr/translation.json
  apps/web/public/locales/zh/translation.json
  apps/web/src/components/battle-registry/BattleRegistryDashboard.tsx
Due: eslint

fix: KvK #11 matchup anomaly + manager edit permissions for Battle Registry
  .windsurf/workflows/securitytest.md
  agents/project-instances/kingshot-atlas/ACTIVITY_LOG.md
  apps/web/public/sitemap-kingdoms.xml
  apps/web/src/components/EventCalendar.tsx
  apps/web/src/components/battle-registry/BattleRegistryDashboard.tsx
  apps/web/src/components/battle-registry/BattleRegistryMain.tsx
  apps/web/src/components/homepage/Kvk11PromoBanner.tsx
  apps/web/src/components/rally/useRallyCoordinator.ts
  apps/web/src/config/transferGroups.ts
  apps/web/src/contexts/AuthContext.tsx
  apps/web/src/hooks/useCampaignQueries.ts
  apps/web/src/pages/KingdomCommunities.tsx
  apps/web/src/pages/Profile.tsx
  apps/web/src/pages/UserDirectory.tsx
Due: eslint

feat(battle-registry): add entry lock/freeze, archive, duplicate detection, Discord webhook notifications
  apps/web/public/locales/ar/translation.json
  apps/web/public/locales/de/translation.json
  apps/web/public/locales/en/translation.json
  apps/web/public/locales/es/translation.json
  apps/web/public/locales/fr/translation.json
  apps/web/public/locales/id/translation.json
  apps/web/public/locales/ja/translation.json
  apps/web/public/locales/ko/translation.json
  apps/web/public/locales/pt/translation.json
  apps/web/public/locales/ru/translation.json
  apps/web/public/locales/tr/translation.json
  apps/web/public/locales/zh/translation.json
  apps/web/src/components/battle-registry/BattleRegistryDashboard.tsx
  apps/web/src/components/battle-registry/BattleRegistryForm.tsx
  apps/web/src/components/battle-registry/BattleRegistryList.tsx
  apps/web/src/components/battle-registry/BattleRegistryMain.tsx
  apps/web/src/components/battle-registry/types.ts
  apps/web/src/components/battle-registry/useBattleRegistry.ts
Due: eslint

feat: Battle Captains i18n + security hardening + mobile UX
  apps/web/public/locales/ar/translation.json
  apps/web/public/locales/de/translation.json
  apps/web/public/locales/en/translation.json
  apps/web/public/locales/es/translation.json
  apps/web/public/locales/fr/translation.json
  apps/web/public/locales/id/translation.json
  apps/web/public/locales/ja/translation.json
  apps/web/public/locales/ko/translation.json
  apps/web/public/locales/pt/translation.json
  apps/web/public/locales/ru/translation.json
  apps/web/public/locales/tr/translation.json
  apps/web/public/locales/zh/translation.json
  apps/web/src/components/rally/BattleLeadersPanel.tsx
  apps/web/src/components/rally/QueueDropZone.tsx
  apps/web/src/components/rally/RallyPlayersColumn.tsx
  apps/web/src/components/rally/SessionManager.tsx
  apps/web/src/components/rally/index.ts
  apps/web/src/components/rally/useBattlePlanner.ts
  apps/web/src/components/rally/useBattlePlannerPlayers.ts
  apps/web/src/components/rally/useBattlePlannerQueues.ts
  apps/web/src/components/rally/useBattlePlannerSession.ts
  apps/web/src/pages/RallyCoordinator.tsx
Due: eslint

fix: improve name verification polling + add auth headers to player-link calls
  agents/project-instances/kingshot-atlas/ACTIVITY_LOG.md
  agents/project-instances/kingshot-atlas/FEATURES_IMPLEMENTED.md
  apps/api/api/atlas_score_formula.py
  apps/api/api/routers/submissions.py
  apps/api/api/supabase_client.py
  apps/web/public/sitemap-kingdoms.xml
  apps/web/src/components/AccountSwitcher.tsx
  apps/web/src/components/LinkKingshotAccount.tsx
  apps/web/src/components/battle-registry/BattleRegistryDashboard.tsx
  apps/web/src/components/battle-registry/BattleRegistryList.tsx
  apps/web/src/components/battle-registry/BattleRegistryMain.tsx
  apps/web/src/components/battle-registry/types.ts
  apps/web/src/components/battle-registry/useBattleRegistry.ts
  apps/web/src/components/kingdom-card/RecentKvKs.tsx
  apps/web/src/components/kingdom-profile/KvKHistoryTable.tsx
  apps/web/src/components/rally/BattleLeadersPanel.tsx
  apps/web/src/components/rally/RallySubComponents.tsx
  apps/web/src/components/rally/useBattlePlanner.ts
  apps/web/src/components/rally/useBattlePlannerSession.ts
  apps/web/src/utils/kingdomStats.ts
Due: eslint

fix: updateLeaderAssignment revert logic + drop old submit_kvk_partial
  apps/web/public/sitemap-kingdoms.xml
  apps/web/public/sitemap-seasons.xml
  apps/web/public/sitemap-static.xml
  apps/web/public/sitemap.xml
  apps/web/src/components/rally/useBattlePlannerSession.ts
Due: eslint

fix: generalize kvk10 endpoint to accept current KvK number
  apps/api/api/routers/admin/_shared.py
  apps/api/api/routers/submissions.py
Due: none

feat: show score/rank change badges to all visitors, add 'of X' to rank change
  apps/web/src/components/kingdom-profile/KingdomHeader.tsx
  apps/web/src/pages/KingdomProfile.tsx
Due: eslint

chore: add ofTotal i18n key to all 11 locale files
  apps/web/src/locales/ar/translation.json
  apps/web/src/locales/de/translation.json
  apps/web/src/locales/en/translation.json
  apps/web/src/locales/es/translation.json
  apps/web/src/locales/fr/translation.json
  apps/web/src/locales/id/translation.json
  apps/web/src/locales/ja/translation.json
  apps/web/src/locales/ko/translation.json
  apps/web/src/locales/pt/translation.json
  apps/web/src/locales/tr/translation.json
  apps/web/src/locales/zh/translation.json
Due: none

fix: app expiration only for pending, add play schedule to recruiter, backfill KvK #11 scores
  apps/web/src/components/TransferApplications.tsx
  apps/web/src/components/recruiter/ApplicationCard.tsx
  apps/web/src/components/recruiter/types.ts
  apps/web/src/components/recruiter/useRecruiterDashboard.ts
Due: eslint

fix: achievement tooltip interpolation & transfer card win rate display
  apps/web/public/locales/ar/translation.json
  apps/web/public/locales/de/translation.json
  apps/web/public/locales/en/translation.json
  apps/web/public/locales/es/translation.json
  apps/web/public/locales/fr/translation.json
  apps/web/public/locales/id/translation.json
  apps/web/public/locales/ja/translation.json
  apps/web/public/locales/ko/translation.json
  apps/web/public/locales/pt/translation.json
  apps/web/public/locales/tr/translation.json
  apps/web/public/locales/zh/translation.json
  apps/web/public/sitemap-kingdoms.xml
  apps/web/src/components/kingdom-card/AchievementBadges.tsx
  apps/web/src/utils/sharing.ts
Due: eslint

fix: KvK error reports, review reports enhancements, alliance tracking
  apps/web/public/locales/ar/translation.json
  apps/web/public/locales/de/translation.json
  apps/web/public/locales/en/translation.json
  apps/web/public/locales/es/translation.json
  apps/web/public/locales/fr/translation.json
  apps/web/public/locales/id/translation.json
  apps/web/public/locales/ja/translation.json
  apps/web/public/locales/ko/translation.json
  apps/web/public/locales/pt/translation.json
  apps/web/public/locales/tr/translation.json
  apps/web/public/locales/zh/translation.json
  apps/web/public/sitemap-kingdoms.xml
  apps/web/public/sitemap-seasons.xml
  apps/web/public/sitemap-static.xml
  apps/web/public/sitemap.xml
  apps/web/src/components/ReportKvKErrorModal.tsx
  apps/web/src/components/admin/ReviewReportsTab.tsx
  apps/web/src/components/recruiter/InboxTab.tsx
  apps/web/src/locales/ar/translation.json
  apps/web/src/locales/de/translation.json
  apps/web/src/locales/en/translation.json
  apps/web/src/locales/es/translation.json
  apps/web/src/locales/fr/translation.json
  apps/web/src/locales/id/translation.json
  apps/web/src/locales/ja/translation.json
  apps/web/src/locales/ko/translation.json
  apps/web/src/locales/pt/translation.json
  apps/web/src/locales/tr/translation.json
  apps/web/src/locales/zh/translation.json
  apps/web/src/services/reviewService.ts
Due: eslint

feat: recruiter alliance assignment + gift codes player ID list
  apps/web/public/locales/ar/translation.json
  apps/web/public/locales/de/translation.json
  apps/web/public/locales/en/translation.json
  apps/web/public/locales/es/translation.json
  apps/web/public/locales/fr/translation.json
  apps/web/public/locales/id/translation.json
  apps/web/public/locales/ja/translation.json
  apps/web/public/locales/ko/translation.json
  apps/web/public/locales/pt/translation.json
  apps/web/public/locales/tr/translation.json
  apps/web/public/locales/zh/translation.json
  apps/web/public/sitemap-kingdoms.xml
  apps/web/src/components/RecruiterDashboard.tsx
  apps/web/src/components/recruiter/InboxTab.tsx
  apps/web/src/components/recruiter/types.ts
  apps/web/src/locales/ar/translation.json
  apps/web/src/locales/de/translation.json
  apps/web/src/locales/en/translation.json
  apps/web/src/locales/es/translation.json
  apps/web/src/locales/fr/translation.json
  apps/web/src/locales/id/translation.json
  apps/web/src/locales/ja/translation.json
  apps/web/src/locales/ko/translation.json
  apps/web/src/locales/pt/translation.json
  apps/web/src/locales/tr/translation.json
  apps/web/src/locales/zh/translation.json
  apps/web/src/pages/GiftCodes.tsx
Due: eslint

fix: transfer profile save bug + feat: Top 100 Leaderboard page
  apps/web/public/locales/ar/translation.json
  apps/web/public/locales/de/translation.json
  apps/web/public/locales/en/translation.json
  apps/web/public/locales/es/translation.json
  apps/web/public/locales/fr/translation.json
  apps/web/public/locales/id/translation.json
  apps/web/public/locales/ja/translation.json
  apps/web/public/locales/ko/translation.json
  apps/web/public/locales/pt/translation.json
  apps/web/public/locales/tr/translation.json
  apps/web/public/locales/zh/translation.json
  apps/web/public/sitemap-kingdoms.xml
  apps/web/src/App.tsx
  apps/web/src/components/header-nav/DesktopNav.tsx
  apps/web/src/components/header-nav/MobileMenu.tsx
  apps/web/src/locales/ar/translation.json
  apps/web/src/locales/de/translation.json
  apps/web/src/locales/en/translation.json
  apps/web/src/locales/es/translation.json
  apps/web/src/locales/fr/translation.json
  apps/web/src/locales/id/translation.json
  apps/web/src/locales/ja/translation.json
  apps/web/src/locales/ko/translation.json
  apps/web/src/locales/pt/translation.json
  apps/web/src/locales/tr/translation.json
  apps/web/src/locales/zh/translation.json
  apps/web/src/pages/Top100Leaderboard.tsx
Due: eslint

feat: editor succession system + leaderboard visual fixes
  apps/web/src/components/editor-claiming/EditorClaimingMain.tsx
  apps/web/src/components/recruiter/CoEditorsTab.tsx
  apps/web/src/locales/ar/translation.json
  apps/web/src/locales/de/translation.json
  apps/web/src/locales/en/translation.json
  apps/web/src/locales/es/translation.json
  apps/web/src/locales/fr/translation.json
  apps/web/src/locales/id/translation.json
  apps/web/src/locales/ja/translation.json
  apps/web/src/locales/ko/translation.json
  apps/web/src/locales/pt/translation.json
  apps/web/src/locales/tr/translation.json
  apps/web/src/locales/zh/translation.json
  apps/web/src/pages/Top100Leaderboard.tsx
  apps/web/src/services/editorSuccessionService.ts
Due: eslint

feat: auto step-down on kingdom transfer + glowing gold/silver/bronze leaderboard names
  apps/web/src/components/AccountSwitcher.tsx
  apps/web/src/locales/ar/translation.json
  apps/web/src/locales/de/translation.json
  apps/web/src/locales/en/translation.json
  apps/web/src/locales/es/translation.json
  apps/web/src/locales/fr/translation.json
  apps/web/src/locales/id/translation.json
  apps/web/src/locales/ja/translation.json
  apps/web/src/locales/ko/translation.json
  apps/web/src/locales/pt/translation.json
  apps/web/src/locales/tr/translation.json
  apps/web/src/locales/zh/translation.json
  apps/web/src/pages/Profile.tsx
  apps/web/src/pages/Top100Leaderboard.tsx
  apps/web/src/services/editorSuccessionService.ts
Due: eslint

feat: Trusted Submitters admin + Pre-Application Messaging for Silver/Gold kingdoms
  apps/api/api/routers/submissions.py
  apps/web/public/locales/ar/translation.json
  apps/web/public/locales/de/translation.json
  apps/web/public/locales/en/translation.json
  apps/web/public/locales/es/translation.json
  apps/web/public/locales/fr/translation.json
  apps/web/public/locales/id/translation.json
  apps/web/public/locales/ja/translation.json
  apps/web/public/locales/ko/translation.json
  apps/web/public/locales/pt/translation.json
  apps/web/public/locales/tr/translation.json
  apps/web/public/locales/zh/translation.json
  apps/web/public/sitemap-kingdoms.xml
  apps/web/src/components/KingdomCard.tsx
  apps/web/src/components/PostKvKSubmission.tsx
  apps/web/src/components/admin/AdminTabNav.tsx
  apps/web/src/components/admin/TrustedSubmittersTab.tsx
  apps/web/src/components/admin/types.ts
  apps/web/src/components/recruiter/ApplicationCard.tsx
  apps/web/src/components/recruiter/BrowseTransfereesTab.tsx
  apps/web/src/hooks/useTrustedSubmitter.ts
  apps/web/src/pages/AdminDashboard.tsx
  apps/web/src/pages/KingdomProfile.tsx
  apps/web/src/pages/Messages.tsx
  apps/web/src/pages/TransferBoard.tsx
  apps/web/src/pages/messages/ConversationListItem.tsx
  apps/web/src/pages/messages/types.ts
Due: eslint

i18n: Add translations for pre-app messaging and messages page keys
  apps/web/public/locales/ar/translation.json
  apps/web/public/locales/de/translation.json
  apps/web/public/locales/en/translation.json
  apps/web/public/locales/es/translation.json
  apps/web/public/locales/fr/translation.json
  apps/web/public/locales/id/translation.json
  apps/web/public/locales/ja/translation.json
  apps/web/public/locales/ko/translation.json
  apps/web/public/locales/pt/translation.json
  apps/web/public/locales/tr/translation.json
  apps/web/public/locales/zh/translation.json
  apps/web/src/locales/ar/translation.json
  apps/web/src/locales/de/translation.json
  apps/web/src/locales/en/translation.json
  apps/web/src/locales/es/translation.json
  apps/web/src/locales/fr/translation.json
  apps/web/src/locales/id/translation.json
  apps/web/src/locales/ja/translation.json
  apps/web/src/locales/ko/translation.json
  apps/web/src/locales/pt/translation.json
  apps/web/src/locales/tr/translation.json
  apps/web/src/locales/zh/translation.json
Due: none

fix: Pre-app messaging bugs - recruiter replies visibility + markAllRead filter
  apps/web/src/pages/Messages.tsx
Due: eslint

Fix editor claim re-nomination and inactive status handling
  apps/web/src/components/editor-claiming/EditorClaimingMain.tsx
  apps/web/src/components/editor-claiming/NominateForm.tsx
Due: eslint

fix(discord-bot): transfer group role sync reliability + API key consistency
  apps/discord-bot/src/bot.js
  apps/discord-bot/src/utils/api.js
Due: eslint

feat(transfer-hub): anonymous alias system for recruiter-facing views
  agents/project-instances/kingshot-atlas/FEATURES_IMPLEMENTED.md
  apps/web/src/components/TransferProfileForm.tsx
  apps/web/src/components/admin/TransferHubSubTabsExtra.tsx
  apps/web/src/components/recruiter/ApplicationCard.tsx
  apps/web/src/components/recruiter/BrowseTransfereesTab.tsx
  apps/web/src/components/recruiter/InboxTab.tsx
  apps/web/src/components/recruiter/RecommendedSection.tsx
  apps/web/src/components/recruiter/SentInvitesPanel.tsx
  apps/web/src/pages/Messages.tsx
  apps/web/src/pages/messages/types.ts
  apps/web/src/utils/anonAlias.ts
Due: eslint

feat(transfer): anonymous alias recommendations — tooltips, dashboard preview, search, collision monitoring, i18n
  apps/web/public/locales/ar/translation.json
  apps/web/public/locales/de/translation.json
  apps/web/public/locales/en/translation.json
  apps/web/public/locales/es/translation.json
  apps/web/public/locales/fr/translation.json
  apps/web/public/locales/id/translation.json
  apps/web/public/locales/ja/translation.json
  apps/web/public/locales/ko/translation.json
  apps/web/public/locales/pt/translation.json
  apps/web/public/locales/ru/translation.json
  apps/web/public/locales/tr/translation.json
  apps/web/public/locales/zh/translation.json
  apps/web/public/sitemap-kingdoms.xml
  apps/web/src/components/admin/TransferHubSubTabsExtra.tsx
  apps/web/src/components/recruiter/ApplicationCard.tsx
  apps/web/src/components/recruiter/BrowseTransfereesTab.tsx
  apps/web/src/components/recruiter/RecommendedSection.tsx
  apps/web/src/components/transfer/TransfereeDashboard.tsx
Due: eslint

docs: update FEATURES_IMPLEMENTED and STATUS_SNAPSHOT with anon alias recommendations v2
  agents/project-instances/kingshot-atlas/FEATURES_IMPLEMENTED.md
  agents/project-instances/kingshot-atlas/STATUS_SNAPSHOT.md
  apps/web/src/components/KvKMatchupSubmission.tsx
  apps/web/src/components/PostKvKSubmission.tsx
Due: eslint

fix: PostKvKSubmission hooks crash, add Bye support & table status updates
  apps/web/src/components/KingdomTable.tsx
  apps/web/src/components/KvKMatchupSubmission.tsx
  apps/web/src/components/PostKvKSubmission.tsx
  apps/web/src/pages/KingdomDirectory.tsx
Due: eslint

fix: route Bye KvK submissions through Supabase RPC, fix [object Object] error toast
  apps/web/src/components/PostKvKSubmission.tsx
Due: eslint

fix: BYE submission duplicate key error on kvk_history
  agents/project-instances/kingshot-atlas/ACTIVITY_LOG.md
  apps/web/public/locales/ar/translation.json
  apps/web/public/locales/de/translation.json
  apps/web/public/locales/en/translation.json
  apps/web/public/locales/es/translation.json
  apps/web/public/locales/fr/translation.json
  apps/web/public/locales/id/translation.json
  apps/web/public/locales/ja/translation.json
  apps/web/public/locales/ko/translation.json
  apps/web/public/locales/pt/translation.json
  apps/web/public/locales/tr/translation.json
  apps/web/public/locales/zh/translation.json
  apps/web/public/sitemap-kingdoms.xml
  apps/web/public/sitemap-seasons.xml
  apps/web/public/sitemap-static.xml
  apps/web/public/sitemap.xml
Due: none

docs: log BYE submission fix in ACTIVITY_LOG
  agents/project-instances/kingshot-atlas/ACTIVITY_LOG.md
Due: none

feat(kvk-spreadsheet): v3 — hide complete, jump-to, localStorage persist, Realtime, cyan hue
  agents/project-instances/kingshot-atlas/ACTIVITY_LOG.md
  agents/project-instances/kingshot-atlas/FEATURES_IMPLEMENTED.md
  apps/api/api/supabase_client.py
  apps/web/public/sitemap-kingdoms.xml
  apps/web/src/components/admin/AdminTabNav.tsx
  apps/web/src/components/admin/KvKSpreadsheetTab.tsx
  apps/web/src/components/admin/index.ts
  apps/web/src/components/admin/types.ts
  apps/web/src/constants/index.ts
  apps/web/src/pages/AdminDashboard.tsx
Due: eslint

fix: rank consistency + contribute data page cleanup
  apps/web/src/components/admin/KvKSpreadsheetTab.tsx
  apps/web/src/pages/KingdomProfile.tsx
  apps/web/src/pages/MissingDataRegistry.tsx
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  vitest: any of: apps/web/src/.*\.(test|spec)\.(ts|tsx)$
